Repository markedjs/marked, pull requests merged in 2018-07, with the labels that each got.

#1300 Change badge to latest version of marked
  README.md
Labels: category: docs

#1258 GFM strikethrough compatibility
  lib/marked.js
  test/specs/gfm/gfm-spec.js
Labels: NFS - new feature (spec related), parser: GFM

#1304 loose lists
  lib/marked.js
  test/new/loose_lists.html
  test/new/loose_lists.md
  test/specs/commonmark/commonmark-spec.js
Labels: category: lists

#1310 Put additional links into readme
  README.md
Labels: category: docs

#1311 Add missing parameters for renderer methods
  docs/USING_PRO.md
Labels: category: docs

#1312 Add undocumented option descriptions
  docs/USING_ADVANCED.md
Labels: category: docs
