Repository markedjs/marked, pull requests merged in 2018-03, with the labels that each got.

#1095 Update security section of README
  README.md
Labels: proposal

#1088 Run lint tests with regular test suite
  package.json
Labels: RR - refactor & re-engineer

#1082 Setup .editorconfig
  .editorconfig
Labels: RR - refactor & re-engineer

#1094 Code of conduct
  CODE_OF_CONDUCT.md
Labels: proposal, question

#1138 Add /docs directory for GitHub Pages
  .github/PULL_REQUEST_TEMPLATE/release.md
  .npmignore
  README.md
  doc/todo.md
  docs/AUTHORS.md
  docs/CNAME
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/PUBLISHING.md
  docs/README.md
  docs/USING_ADVANCED.md
  docs/USING_PRO.md
  docs/broken.md
  docs/img/logo-black-and-white.svg
  docs/img/logo-black.svg
  docs/index.html
Labels: category: docs

#1161 Move demo to docs
  README.md
  docs/README.md
  docs/demo.css
  docs/demo.html
  docs/demo.js
  www/demo.js
Labels: category: docs

#1169 Fix unrendered links in docs/CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Labels: category: docs

#1170 Fix nits in code example in USING_ADVANCED.md
  docs/USING_ADVANCED.md
Labels: category: docs

#1172 Fix typo in USING_ADVANCED.md
  docs/USING_ADVANCED.md
Labels: category: docs

#1173 Fix nits in code example in USING_PRO.md
  docs/USING_PRO.md
Labels: category: docs

#1175 Remove duplicate part in docs/USING_PRO.md
  docs/USING_PRO.md
Labels: category: docs

#1174 Fix typos in .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: category: docs

#1171 Complement options table in USING_ADVANCED.md
  docs/USING_ADVANCED.md
Labels: category: docs

#1168 Hash change docs
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/PUBLISHING.md
  docs/README.md
  docs/index.html
Labels: category: docs
