Repository markedjs/marked, pull requests merged in 2019-07, with the labels that each got.

#1504 Sanitize hardening
  README.md
  docs/README.md
  docs/USING_ADVANCED.md
  lib/marked.js
  test/specs/run-spec.js
  test/specs/security/sanitizer_bypass.html
  test/specs/security/sanitizer_bypass.md
  test/specs/security/sanitizer_bypass_remove_generic.html
  test/specs/security/sanitizer_bypass_remove_generic.md
  test/specs/security/sanitizer_bypass_remove_script.html
  test/specs/security/sanitizer_bypass_remove_script.md
  test/specs/security/sanitizer_bypass_remove_tag.html
  test/specs/security/sanitizer_bypass_remove_tag.md
Labels: L0 - security

#1509 Link parenthesis
  lib/marked.js
  test/specs/new/links_paren.html
  test/specs/new/links_paren.md
Labels: category: inline elements, category: links

#1515 Link label security
  lib/marked.js
  test/specs/commonmark/commonmark.0.29.json
  test/specs/gfm/commonmark.0.29.json
  test/specs/new/nested_square_link.md
  test/specs/redos/link_code.html
  test/specs/redos/link_code.md
Labels: L0 - security, category: links

#1521 update examples with es6+
  docs/USING_PRO.md
Labels: category: docs

#1512 Add ZEIT Now deployments to docs
  now.json
Labels: category: docs
