Repository markedjs/marked, pull requests merged in 2020-03, with the labels that each got.

#1598 Fix GFM tables not breaking on block-level structures
  src/rules.js
  test/specs/new/code_following_table.html
  test/specs/new/code_following_table.md
  test/specs/new/fences_following_table.html
  test/specs/new/fences_following_table.md
  test/specs/new/heading_following_table.html
  test/specs/new/heading_following_table.md
  test/specs/new/hr_following_tables.html
  test/specs/new/hr_following_tables.md
  test/specs/new/html_following_table.html
  test/specs/new/html_following_table.md
  test/specs/new/inlinecode_following_tables.html
  test/specs/new/inlinecode_following_tables.md
  test/specs/new/lheading_following_table.html
  test/specs/new/lheading_following_table.md
  test/specs/new/list_following_table.html
  test/specs/new/list_following_table.md
  test/specs/new/strong_following_tables.html
  test/specs/new/strong_following_tables.md
  test/specs/new/text_following_tables.html
  test/specs/new/text_following_tables.md
Labels: category: mixed content, category: tables

#1620 [docs] Update comment about GitHub breaks
  docs/USING_ADVANCED.md
Labels: category: docs

#1622 Render html in heading
  src/Slugger.js
  src/TextRenderer.js
  test/specs/new/headings_id.html
  test/specs/new/headings_id.md
Labels: category: headings
